KitchenChaos/Library/
KitchenChaos/Temp/
KitchenChaos/obj/
KitchenChaos/.vscode/
KitchenChaos/http/
KitchenChaos/*.sln
KitchenChaos/*.csproj

.vs/
*.apk
GameJSONData.*
PI_Unity/Logs/
Build-*/
KitchenChaos/ProjectSettings/ProjectVersion.txt
KitchenChaos/symbols/
*.vsconfig
.idea/*
AndroidLogcatSettings.asset
KitchenChaos/EditorCache
